<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutPage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>

</head>
<body>
<div th:replace="~{fragments/header :: header}">Hier komt de header</div>


<div class="freespaceforheader"></div>


<h1>About me </h1>
<p>This all about me...</p>

<ol>
    <li th:text="${name}">name</li>
    <li th:text="${street}">street</li>
    <li th:text="${city}">city</li>
</ol>

<p th:text=" 'Ik ben ' + ${name} + ' en Ik woon ' + ${street} + ' te ' + ${city}  "></p>
<p th:text="|Mijn naam is ${name} Ik woon in ${street} in ${city}|"></p>

<div th:replace="~{fragments/footer :: footer}">Hier komt de footer</div>



</body>
</html>