<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutPage</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{party.css}" href="party.css" /></head>
<body>

<nav class="nav">

    <h1 >Let's Party!</h1>
    <a class="buttonLook" th:href="@{/home}">home</a>
    <a class="buttonLook" th:href="@{/venuedetails}">venuedetails</a>
    <a class="buttonLook" th:href="@{/about}">about</a>

</nav>

<div class="freespaceforheader"></div>


<h1>About me </h1>
<p>This all about me...</p>

<ol>
    <li th:text="${name}">name</li>
    <li th:text="${street}">street</li>
    <li th:text="${city}">city</li>
</ol>

<p th:text=" 'Ik ben ' + ${name} + ' en Ik woon ' + ${street} + ' te ' + ${city}  "></p>

</body>
</html>