<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Artistlist</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
</head>

<body>

<div th:replace="~{fragments/header :: header}">Hier komt de header</div>


<div class="freespaceforheader"></div>

<div class="freespaceforheader"></div>
<div class="row1">
  <div class="row1content">
    <div>
      <h1>Artists</h1>
      <div class="verticalmargin">
        <span class="generalinfo" th:text="|${nrArtist} artist found|">0 artist found</span>
      </div>
      <div class="filters" th:if="${showFilter}">
        <div class="verticalmargin">
          <a th:href="@{/artistlist}" class="buttonLook filterButton">-</a>
          <p>hier komen de filters</p>
        </div>

        <form>
          <div class="onefilter">
            <input type="submit" value="search" class="buttonLook">
          </div>

          <div class="onefilter">
            <label for="keyword" class="filtername"></label>
            <input type="text" id="keyword" name="keyword"> <span></span>
          </div>
        </form>
      </div>
      <div class="filters" th:unless="${showFilter}">
        <div class="verticalmargin">
          <a th:href="@{/artistlist/filter}" class="buttonLook filterButton">+</a>
        </div>
      </div>


      <div class="collectionlist artistlist">
        <div th:each="artist : ${artists}">
          <a th:href="@{'/artistdetails/' + ${artist.id}}">
          <span class="buttonLook mediumButton"
                th:text="${artist.getArtistName()}">
            onbekend nummer</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Hier komt de footer</div>


</body>
</html>