<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>

</head>
<body>
<nav class="nav">

    <h1 >Let's Party!</h1>
    <a class="buttonLook" th:href="@{/home}">home</a>
    <a class="buttonLook" th:href="@{/about}">about</a>
    <a class="buttonLook" th:href="@{/client}">client</a>
    <a class="buttonLook" th:href="@{/venuelist}">venuelist</a>



</nav>
<div class="freespaceforheader"></div>

<p th:text="|${dateTime}, ${client.getGender()} ${client.getName()}. Uw secret code is  ${client.generateCode()}|"></p>

</body>
</html>