<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{party.css}" href="party.css" />

</head>

<body>

<nav class="nav">

    <h1 >Let's Party!</h1>
    <a class="buttonLook" th:href="@{/home}">home</a>
    <a class="buttonLook" th:href="@{/venuedetails}">venuedetails</a>
    <a class="buttonLook" th:href="@{/about}">about</a>

</nav>

<div class="freespaceforheader"></div>

<h1>Homepage.. </h1>
<p th:text="${myCalculatedValue*5}">onbekend nummer</p>

</body>
</html>