<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Venuelist</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
</head>

<body>

<div th:replace="~{fragments/header :: header}">Hier komt de header</div>


<div class="freespaceforheader"></div>

<div class="row1">
  <div class="row1content">
    <div>
      <h1>Venues</h1>

      <div class="verticalmargin">
        <span class="generalinfo" th:text="|${nrvenues} venues found|">0 venues found</span>
      </div>

      <div class="filters" th:if="${showFilter}">
        <div class="verticalmargin">
          <a th:href="@{/venuelist}" class="buttonLook filterButton">-</a>
          <p>hier komen de filters</p>
        </div>
      </div>

      <form>
        <div class="onefilter">
          <input type="submit" value="search" class="buttonLook">
        </div>
        <h3>capacity</h3>
        <div class="onefilter">
          <label for="minCapacity" class="filtername">min</label>
          <input type="number" id="minCapacity" name="minimumCapacity" value="0" step="50"> <span>persons</span>
        </div>
      </form>

      <div class="filters" th:unless="${showFilter}">
        <div class="verticalmargin">
          <a th:href="@{/venuelist/filter}" class="buttonLook filterButton">+</a>
        </div>
      </div>

      <div class="venuelist">
        <div th:each="venue: ${venues}">
          <a class="buttonLook mediumButton" th:href="@{|/venuedetails/${venue.id}}">
            <span th:text="${venue.venueName}">venue name</span>
            <div>
              <span class="generalinfo" th:text="|Capacity: ${venue.capacity}|">Capacity: 0</span>
            </div>
          </a>
        </div>
      </div>


      <div th:each="venue : ${venues}">
        <a th:href="@{'/venuedetails/' + ${venue.id}}">
          <span class="buttonLook mediumButton"
                th:text="${venue.getVenueName()}">
            onbekend nummer</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Hier komt de footer</div>


</body>
</html>